<div>
    <button (click)="onSelectUser()">
        <!-- <img [src]="'./assets/users/' + selectedUser().avatar" alt="{{selectedUser().name}}"/> -->
        <!-- diaforetika --> 
        <!-- <img src="./assets/users/{{selectedUser.avatar}}"  [alt]="selectedUser.name"/> -->
        <!-- <img src={{imagePath}} alt="{{selectedUser.name}}"/> -->
        <!-- <img [src]="imagePath()" [alt]="selectedUser().name"/> -->
        <img [src]="imagePath" alt="{{name}}"/>
        <!-- <span>{{ selectedUser.name }}</span> -->

        <!-- otan einai shma to selectedUser -->
         <span>{{name}}</span>  
    </button>
</div>
